<div class="footer">
<div class="social-links">
	social media outlets
</div>
<div class="bottom-footer">
	<div class="col-md-5">
		&copy CopyRight TheDailyPost 2017.
	</div>
	<div class="col-md-7">
		<ul class="footer-nav">
			<li><a href="/">Home</a></li>
			<li><a href="#">categories</a></li>
			<li><a href="/writers">Writers</a></li>
			<li><a href="/about">About us</a></li>
		</ul>
	</div>
</div>
</div>