<ul class="nav nav-pills nav-stacked">
	    <li role="presentation"><a href="/">Home</a></li>
		<li role="presentation"><a href="#">Categories</a></li>
	    <li role="presentation"><a href="/writers">Writers</a></li>
	    <li role="presentation"><a href="/about">About us</a></li>
</ul>
