<!DOCTYPE html>
<html>
  <head>
    <% include includepages/head.ejs %>
  </head>
  <body>
    <% include includepages/header.ejs  %>
    <div class="navigator align">
      <% include includepages/navigator.ejs %>
    </div>
      <article class="align" hidden>
  
      </article>

      <aside class="align">
      </aside>

      <footer>
      </footer>

      <script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
      <script type="text/javascript">

      </script>
  </body>
</html>
